<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="ISO-8859-1" />
<title>Animal</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div th:replace="/fragment/navbar :: navbar" />
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<tbody th:object="${animal}">
					<tr>
						<td>ID</td>
						<td th:text="${animal.id}"></td>
					</tr>
					<tr>
						<td>Name</td>
						<td th:text="${animal.name}"></td>
					</tr>
					<tr>
						<td>Age</td>
						<td th:text="${animal.age}"></td>
					</tr>
					<tr>
						<td>Type</td>
						<td th:text="${animal.type}"></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td th:text="${animal.gender}"></td>
					</tr>
					<tr>
						<td>Breed</td>
						<td th:text="${animal.breed}"></td>
					</tr>
					<tr>
						<td>About</td>
						<td th:text="${animal.about}"></td>
					</tr>
					<tr>
						<td>Created Date</td>
						<td th:text="${#dates.format(animal.createdDate, 'dd-MMM-yyyy')}"></td>
					</tr>
					<tr>
						<td>User ID</td>
						<td><a th:href="@{'/api/user?id='} + ${animal.user.id}"
							th:text="${animal.user.id}"></a></td>
					</tr>
					<div sec:authorize="isAuthenticated() == true">
						<div
							th:if="${#authentication.getPrincipal().getId()} == ${animal.user.id}">
							<tr>
								<td><a class="btn btn-lg btn-primary"
									th:href="@{'/api/animal/update?id='} + ${animal.id}">Update</a></td>
							</tr>
						</div>
						<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')} == true">
					       <tr>
						      <td><a class="btn btn-lg btn-primary"
							th:href="@{'/api/animal/admin/delete?id='} + ${animal.id}">Delete</a>
							  </td>
					       </tr>
					       <tr>
								<td><a class="btn btn-lg btn-primary"
									th:href="@{'/api/animal/update?id='} + ${animal.id}">Update</a></td>
							</tr>
					    </div>
					</div>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>