<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1" />
<title>Animals</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
 <div th:replace="/fragment/navbar :: navbar"/>
 	<div  class="container">
 	    <div th:replace="/fragment/animal-search-input"/>
		<table th:fragment="animals (animals)" style="margin-top: 30px" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Age</th>
					<th>About</th>
					<th>Type</th>
					<th>Gender</th>
					<th>Breed</th>
					<th>Username</th>
					<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="animal : ${animals}">
					<tr>
						<td><a th:href="@{'/api/animal?id=' + ${animal.id}}" th:text="${animal.id}"></a></td>
						<td th:text="${animal.name}"></td>
						<td th:text="${animal.age}"></td>
						<td class="d-inline-block text-truncate" style="max-width: 200px;" th:text="${animal.about}"></td>
						<td th:text="${animal.type}"></td>
						<td th:text="${animal.gender}"></td>
						<td th:text="${animal.breed}"></td>
						<td><a th:href="@{'/api/user?id=' + ${animal.user.id}}" th:text="${animal.user.username}"></a></td>
						<td sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{'/api/animal/admin/delete?id=' + ${animal.id}}">Delete</a>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>