<div th:fragment="navbar">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
 <div class="collapse navbar-collapse" id="collapsibleNavbar">
   <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/api/animal/all}">Animals</a>
    </li>
    <div sec:authorize="isAuthenticated() == false" style="display: flex">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/api/user/register}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/api/user/login}">Login</a>
      </li>
    </div>
    <div sec:authorize="isAuthenticated() == true" style="display: flex">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/api/animal/create}">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/api/user/profile}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input hidden type="submit" value="Sign Out"/>
        </form> 
      </li>
    </div>
    <li class="nav-item">
      <div  th:replace="/fragment/user-search-input.html"/>
    </li>
   
    
    
    
   </ul>
 </div>
</nav>
</div>
